body{
    background-color:lightcyan;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
text-decoration-line: underline;
text-decoration-style: double;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:darkgoldenrod;
}

h2{
    text-decoration: underline overline;
    color:burlywood
}

.center{
    text-align: center;
}

ul{
list-style-type:none;
margin: 0;
padding: 0;
width: 1265px;
background-color: #f1f1f1;
text-align: center;
}
  
a {
    padding: 0.01in;
    text-decoration: none;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: blue;

}

a:hover{
    color:red;
}

a:visited{
    color: purple;
}

li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
  }

.button{
    border-radius: 25px;
  background: #73AD21;
  padding: 20px; 
  width: 165px;
  height: 30px;  
}
.button:hover{
    background-color:antiquewhite;
}